/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.header {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
}

.projects {
     display: flex;
     flex-direction: column;
     margin-left: 5rem;
     margin-right: 5rem;
     justify-content: center;
}

.projectContainer {
     margin: 2rem;
}

.projectInfo {
     display: flex;
     flex-direction: row;
}

.projectText {
     all: unset;
     margin: 2rem;
     text-decoration: none;
}

a {
     text-decoration: none;
     color: black;
}

/* .jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
} */
